.Container {
    margin: 1% auto;    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item {
    background-color: rgb(94, 94, 94);
    margin: 1%;
    padding: 2%;
    width: 300px;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.item>div {
    margin: 0 1%;
}

.item img {
    border: solid 2px white;
    width: 200px;
}